.nav-bg{
    background: rgba(255, 255, 255, 0.08);
border-radius: 5px;
box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
border: 1px solid rgba(255, 255, 255, 0.14);
}