@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Ysabeau+SC:wght@900&display=swap');

*{
  font-family: 'Fira Sans', sans-serif;
  scroll-behavior: smooth;
}

.brand-title{
  font-family: 'Ysabeau SC', sans-serif;
}

.discount{
  font-family: 'Bungee', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.activeNav {
  @apply bg-transparent font-medium text-primary hover:bg-transparent hover:text-primary text-base focus:bg-transparent focus:text-primary
}
.defaultNav{
@apply bg-transparent hover:bg-transparent focus:bg-transparent focus:text-primary text-base
}

.my-btn{
  @apply bg-transparent border px-5 py-1 border-primary rounded-md text-primary font-medium hover:bg-primary hover:text-white transition-all duration-200 cursor-pointer
}
.my-btn-sec{
  @apply bg-primary border px-3 py-1 border-primary rounded-md text-white font-medium hover:bg-transparent hover:text-primary transition-all duration-200 cursor-pointer
}

.search-field{
  @apply w-96 px-14 py-2 rounded-md bg-warning bg-opacity-50 text-white focus:outline-warning focus:border-none border-none outline-none placeholder:text-white
}
.drop-field{
  @apply w-32 border border-secondary px-3 rounded 
}
.date-field{
  @apply border border-secondary px-2 rounded 
}

.selected{
  @apply bg-primary text-white
}
.inputField{
  @apply w-full px-6 py-2 rounded-md bg-accent bg-opacity-20 focus:outline focus:outline-accent disabled:opacity-40 disabled:cursor-not-allowed
}
.activeSide{
  @apply bg-white rounded-tl-lg rounded-bl-lg font-semibold text-base text-primary focus:bg-white hover:bg-white hover:text-primary focus:text-primary mb-4 lg:w-64 w-60 
}

.defaultSide{
  @apply bg-transparent rounded-sm font-semibold text-base focus:bg-white hover:bg-transparent hover:text-primary focus:text-primary mb-4 lg:w-64 w-60
}